:root {
    --body-background: #14151b;
    --primary: #1f2129;
    --nav: #18191f;
    --text-primary: #b6bccc;
    --text-secondary: #c6cee2;
    --line-space: 1.5rem;
    --paragraph-space: calc(var(--line-space)*0.8);
    --default-font: sans-serif;
    --icons-color: brightness(0) saturate(100%) invert(80%) sepia(12%) saturate(302%) hue-rotate(184deg) brightness(99%) contrast(97%);
}

.test {
    color: #000;
}

.orv_main {

    line-height: var(--line-space);
    color: var(--text-primary);
}

.orv_line {
    margin-left: 0.8em;
}



/* this is for the system messages */
/* default features */
.orv_system {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: min(600px, 85%);
}

.orv_window {
    margin-left: auto;
    margin-right: auto;
    width: min(400px, 90%);
}

.orv_window .orv_window_title {
    font-size: 1.5em;
    margin-bottom: 1em;
    text-align: center;
}






.orv_system.theme1 {
    margin-left: 0.8em;
    place-self: unset;
    text-align: left;
    width: 100%;
    font-family: var(--default-font);
    margin-top: var(--paragraph-space);
}

.orv_window.theme1 {
    margin-left: 0.8em;
    width: 100%;
    margin-top: var(--line-space);
    padding: unset;
    place-self: unset;
    text-align: left;
    margin-top: var(--paragraph-space);
    font-family: var(--default-font);
}

.orv_window.theme1 .orv_window_title {
    font-size: 1em;
    font-weight: normal;
    text-align: left;
}

.orv_window.theme1::before {
    content: "+";
}

.orv_window.theme1::after {
    content: "+";
}








.orv_system.theme2 p {
    place-self: center;
}

.orv_window.theme2 .orv_window_title {
    text-align: center;
    font-size: 1.5em;
}

.orv_window.theme2 {
    place-self: center;

}

.orv_system.theme2,
.orv_window.theme2 {
    margin-top: var(--paragraph-space);
    padding: 0.75em 1.5em;
    position: relative;

}

.orv_system.theme2:after,
.orv_system.theme2:before,
.orv_window.theme2::after,
.orv_window.theme2::before {
    border: .2em solid var(--text-primary);
    border-radius: 0.25em;
    bottom: 0;
    content: '';
    position: absolute;
    top: 0;
    width: 1em;
}

.orv_system.theme2:after,
.orv_window.theme2:after {
    border-left: none;
    right: 1em;
}

.orv_system.theme2:before,
.orv_window.theme2:before {
    border-right: none;
    left: 1em;
}








.orv_window.theme3,
.orv_system.theme3 {
    position: relative;
    width: min(400px, 90%);
    padding: 20px;
    background: linear-gradient(135deg, #2676d8, #255ab6);
    border-radius: 10px;
    border: 2px solid #000;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    color: white;
    text-align: left;
    place-self: center;
    margin-top: var(--paragraph-space);
}

.orv_system.theme3 {
    width: 90%;
    text-align: center;
}

.orv_window.theme3::before,
.orv_window.theme3::after,
.orv_system.theme3::before,
.orv_system.theme3::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 2px solid white;
    border-radius: 8px;
    pointer-events: none;
}

.orv_window.theme3::after,
.orv_system.theme3::after {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-color: #ddd;
}

.orv_window.theme3 p.orv_window_title {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.264);
    border-radius: 0.2em;
    padding: 0.3em 0.1em;
    margin-top: 0;
    font-size: 1.3em;
    letter-spacing: 1px;
    text-align: center;
}

.orv_window.theme3 p.orv_window_title::after {
    content: '';
    position: relative;
    top: 0.2em;
    left: -2em;
    display: block;
    width: 120%;
    height: 100%;
    border-bottom: 0.2em solid #ddd;

}







.orv_system.theme4,
.orv_window.theme4 {
    margin-top: var(--paragraph-space);
    border: 0.05em solid var(--text-primary);
}

.orv_system.theme4 p,
.orv_window.theme4 p {
    padding: 0.6em;
}








.orv_system.theme5,
.orv_window.theme5 {
    margin-top: var(--line-space);
    margin-left: 0.8em;
    text-align: left;
    padding: 0.8em 0.25em;
    border-left: 3px solid #1f6feb;
    border-radius: 0.3em;
    width: clamp(90%, fit-content, 400px);
}

.orv_window.theme5 {
    border-left: 3px solid #804fe0;
}

.orv_system.theme5 p,
.orv_window.theme5 p {
    padding-left: 0.5em;
}

.orv_window.theme5 .orv_window_title {
    text-align: left;
    font-size: 1em;
}



/* this is for constillation text */

.orv_constellation.theme1 {
    margin-left: 0.8em;
    place-self: unset;
    text-align: left;
    width: 100%;
    font-family: var(--default-font);
    margin-top: var(--paragraph-space);
}




.orv_constellation.theme2 p {
    place-self: center;
    text-align: center;
}

.orv_constellation.theme2 {
    margin-top: var(--paragraph-space);
    padding: 0.75em 1.5em;
    position: relative;
}

.orv_constellation.theme2:after,
.orv_constellation.theme2:before {
    border: .2em solid var(--text-primary);
    border-radius: 0.25em;
    bottom: 0;
    content: '';
    position: absolute;
    top: 0;
    width: 1em;
}

.orv_constellation.theme2:after {
    border-left: none;
    right: 1em;
}

.orv_constellation.theme2:before {
    border-right: none;
    left: 1em;
}






.orv_constellation.theme3 {
    margin-top: var(--line-space);
    margin-left: 0.8em;
    border-radius: 0.3em;
    text-align: left;
    padding: 0.5em 0.25em;
    border-left: 3px solid #0f7e2a;
    width: clamp(90%, fit-content, 400px);
}

.orv_constellation.theme3 p {
    padding-left: 0.5em;
}







/* this is for quotes */

.orv_quote.theme1 {
    margin-left: 0.8em;
    place-self: unset;
    text-align: left;
    width: 100%;
    font-family: var(--default-font);
    margin-top: var(--paragraph-space);
}




div.orv_quote.theme2 {
    position: relative;
    border: none;
    margin-top: var(--paragraph-space);
    text-align: center;
    box-sizing: border-box;
}

div.orv_quote.theme2 p {
    padding: 0.4em;
}

div.orv_quote.theme2::before,
div.orv_quote.theme2::after {
    position: absolute;
    content: "";
    width: 2em;
    height: 1em;
}

div.orv_quote.theme2::before {
    left: 0;
    top: 0;
    border-left: 0.1em solid var(--text-primary);
    border-top: 0.1em solid var(--text-primary);
}

div.orv_quote.theme2::after {
    right: 0;
    bottom: 0;
    border-right: 0.1em solid var(--text-primary);
    border-bottom: 0.1em solid var(--text-primary);
}






.orv_quote.theme3 {
    margin-top: var(--line-space);
    margin-left: 0.8em;
    border-radius: 0.3em;
    text-align: left;
    padding: 0.5em 0.25em;
    border-left: 3px solid #ffa200;
    width: clamp(90%, fit-content, 400px);
}

.orv_quote.theme3 p {
    padding-left: 0.5em;
}




/* this is for outergod text */

.orv_outergod.theme1 {
    margin-left: 0.8em;
    place-self: unset;
    text-align: left;
    width: 100%;
    font-family: var(--default-font);
    margin-top: var(--paragraph-space);
}








.orv_outergod.theme2 {
    margin-top: var(--paragraph-space);
    margin-left: auto;
    margin-right: auto;
    width: min(400, 90%);
    background-color: var(--text-secondary);
}

.orv_outergod.theme2 p {
    padding: 0.5em 1em;
    border-radius: 15px;
    background-color: var(--primary);
    width: 95%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}






.orv_outergod.theme3 {
    margin-top: var(--line-space);
    margin-left: 0.8em;
    border-radius: 0.3em;
    text-align: left;
    padding: 0.5em 0.25em;
    border-left: 3px solid #e91e2b;
    width: clamp(90%, fit-content, 400px);
}

.orv_outergod.theme3 p {
    padding-left: 0.5em;
}



/* this is for notice */

.orv_notice.theme1 {
    margin-left: 0.8em;
    margin-top: var(--paragraph-space);
}

.orv_notice.theme1 p::before {
    content: "(Note: ";
}

.orv_notice.theme1 p::after {
    content: ")";
}






.orv_notice.theme2 {
    margin-left: 0.8em;
    margin-top: var(--paragraph-space);
}

.orv_notice.theme2 p::before {
    color: #003a92;
    filter: brightness(200%);
    font-weight: bold;
    content: "ⓘ Note: ";
}

.orv_notice.theme2 p {
    filter: brightness(80%);
}






.orv_notice.theme3 {
    margin-top: var(--line-space);
    filter: brightness(80%);
    margin-left: 0.8em;
    border-radius: 0.3em;
    text-align: left;
    padding: 0.5em 0.25em;
    border-left: 3px solid #e91eb3;
    width: clamp(90%, fit-content, 400px);
}

.orv_notice.theme3 p::before {
    color: #003a92;
    filter: brightness(200%);
    font-weight: bold;
    content: "ⓘ Note: ";
}

.orv_notice.theme3 p {
    padding-left: 0.5em;
}



/* This is for Orv Generic Box */

.orv_box.theme1 {
    margin-top: var(--paragraph-space);
    /* border: var(--text-secondary) solid 0.1em; */
}

.orv_box.theme1 p {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.orv_box.theme1::before {
    content: "++";
    margin-left: 0.8em;
}

.orv_box.theme1::after {
    content: "++";
    margin-left: 0.8em;
}


.orv_box.theme2 {
    margin-top: var(--paragraph-space);
    border: var(--text-secondary) solid 0.1em;
}

.orv_box.theme2 p {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}













/* this if for the normal text */
.orv_line {
    margin-right: auto;
    margin-top: var(--paragraph-space);
}

hr {
    margin-top: var(--line-space);
}